NEXT_PUBLIC_APP_NAME=VERDIKT
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# GenLayer
NEXT_PUBLIC_GENLAYER_CHAIN=studio
NEXT_PUBLIC_GENLAYER_CONTRACT_ADDRESS=0x7fB423676EE3Fd7C6EF21BD348e2b4E0F7A28560
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
